pandas
python-dotenv
opentelemetry-sdk
azure-ai-projects
azure-ai-inference[prompts]
azure-ai-evaluation[remote]
azure-identity
azure-search-documents
azure-monitor-opentelemetry
marshmallow==3.23.2
# workaround for a bug in PromptFlow https://github.com/microsoft/promptflow/issues/3902
